<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="copyright">
        <p>&copy; <%= new Date().getFullYear() %> Queensland Cyber Infrastructure Foundation</p>
        <a href='https://www.auckland.ac.nz'>The University of Auckland</a> |
        <a href='https://www.auckland.ac.nz/en/admin/footer-links/accessibility.html'>Accessibility</a> |
        <a href='https://www.auckland.ac.nz/en/admin/footer-links/copyright.html'>Copyright</a> |
        <a href='https://www.auckland.ac.nz/en/admin/footer-links/privacy.html'>Privacy</a> |
        <a href='https://www.auckland.ac.nz/en/admin/footer-links/disclaimer.html'>Disclaimer</a>
      </div>
    </div>
  </div>
